.breadcrumb {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 768px) {
  .breadcrumb {
    font-size: 11px;
    gap: 4px;
  }
}

@media (max-width: 480px) {
  .breadcrumb {
    font-size: 10px;
    gap: 3px;
  }
}
